<ul class="nav nav-sidebar">
    <!--
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    -->
    <li>
    {{#each contratos}}
        <a href="/home/usuario/{{_id}}">{{trabajador.nombre}}</a>
    {{/each}}
    </li>
</ul>


