<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h4>Funcionarios</h4>
            <input type="text"
                   ng-model="search.trabajador.nombre"
                   class="form-control"
                   placeholder="Buscar ...">
            <br/>
            <ul class="list-group">
                <li ng-click="changeItemSelected(t)"
                        class="list-group-item"
                        ng-class="{'active alert alert-info':isItemSelected(t)}"
                        ng-repeat="t in trabajadores | filter:search">
                    <a ui-sref="contratos.item({id:t._id})" class="alert-link">
                        <!-- xarreglar -->
                        <img src="images/user6.png"> {{t.trabajador.nombre}}
                    </a>
                </li>
            </ul>
        </div>
        <div ui-view
             class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        </div>
    </div>
</div>