<div>
    <form method="post" name="contratoForm" >
        <div class="row">
            <div class="col-md-1">
                <img src="images/user_small.png"/>
            </div>
            <div class="col-md-7">
                <h2 class="page-header">{{original.trabajador.nombre}}</h2>
            </div>
            <div class="col-md-4">
                <button type="button"
                        ng-click="onPostContrato()"
                        ng-show="isEdited"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar
                </button>
                <button type="button"
                        ng-show="isEdited"
                        ng-click="onUndo()"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Deshacer
                </button>
                <a ng-href="trabajadores/print/{{current._id}}">
                    <button type="button"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir
                    </button>

                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Trabajador</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="trabajadorNombre">Nombre</label>
                            <!-- xarreglar incluye watch en lugar de onchange -->
                            <input type="text"
                                   required
                                   ng-change="onChange()"
                                   class="form-control"
                                   id="trabajadorNombre"
                                   name="trabajadorNombre"
                                   ng-model="current.trabajador.nombre" >
                             <div
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.trabajadorNombre)"
                                 data-ng-messages="contratoForm.trabajadorNombre.$error"
                                 data-ng-messages-include="validaciones"></div>
                        </div>

                        <div class="form-group">
                            <label for="trabajadorFicha">Ficha</label>
                            <input type="text"
                                   required
                                   minlength="6"
                                   maxlength="6"
                                   class="form-control"
                                   ng-change="onChange()"
                                   id="trabajadorFicha"
                                   name="trabajadorFicha"
                                   ng-model="current.trabajador.ficha"
                                   placeholder="Ficha">
                            <div data-ng-messages="contratoForm.trabajadorFicha.$error"
                                 class="error-messages"
                                ng-if="interacted(contratoForm.trabajadorFicha)"
                               data-ng-messages-include="validaciones"></div>
                        </div>

                        <div class="form-group">
                            <label for="trabajadorNivel">Nivel</label>
                            <input type="text"
                                   required
                                   minlength="2"
                                   maxlength="2"
                                   class="form-control"
                                   ng-change="onChange()"
                                   id="trabajadorNivel"
                                   name="trabajadorNivel"
                                   ng-model="current.trabajador.nivel"
                                   placeholder="Nivel">

                            <div data-ng-messages="contratoForm.trabajadorNivel.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.trabajadorNivel)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="trabajadorProfesion">Profesión</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   ng-change="onChange()"
                                   id="trabajadorProfesion"
                                   name="trabajadorProfesion"
                                   ng-model="current.trabajador.profesion"
                                   placeholder="Profesión">
                            <div data-ng-messages="contratoForm.trabajadorProfesion.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.trabajadorProfesion)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="trabajadorCategoria">Categoría</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   id="trabajadorCategoria"
                                   name="trabajadorCategoria"
                                   ng-change="onChange()"
                                   ng-model="current.trabajador.categoria"
                                   placeholder="Categoría">
                            <div data-ng-messages="contratoForm.trabajadorCategoria.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.trabajadorCategoria)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="trabajadorPuesto">Puesto</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   id="trabajadorPuesto"
                                   name="trabajadorPuesto"
                                   ng-model="current.trabajador.puesto"
                                   ng-change="onChange()"
                                   placeholder="Puesto">
                            <div data-ng-messages="contratoForm.trabajadorPuesto.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.trabajadorPuesto)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Casa</h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label for="casaNumero">Número</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   id="casaNumero"
                                   name="casaNumero"
                                   ng-model="current.casa.casa"
                                   ng-change="onChange()"
                                   placeholder="Número">
                            <div data-ng-messages="contratoForm.casaNumero.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.casaNumero)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="casaColonia">Colonia</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   id="casaColonia"
                                   name="casaColonia"
                                   ng-model="current.casa.colonia"
                                   ng-change="onChange()"
                                   placeholder="Colonia">
                            <div data-ng-messages="contratoForm.casaColonia.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.casaColonia)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="casaParcela">Parcela</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   id="casaParcela"
                                   name="casaParcela"
                                   ng-change="onChange()"
                                   ng-model="current.casa.parcela"
                                   placeholder="Parcela">
                            <div data-ng-messages="contratoForm.casaParcela.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.casaParcela)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="casaCodigoPostal">Código Postal</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   minlength="5"
                                   maxlength="5"
                                   id="casaCodigoPostal"
                                   name="casaCodigoPostal"
                                   ng-change="onChange()"
                                   ng-model="current.casa.cp"
                                   placeholder="Código Postal">
                            <div data-ng-messages="contratoForm.casaCodigoPostal.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.casaCodigoPostal)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="casaStatus">Estatus</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   id="casaStatus"
                                   name="casaStatus"
                                   ng-change="onChange()"
                                   ng-model="current.casa.status"
                                   placeholder="Estatus">
                            <div data-ng-messages="contratoForm.casaStatus.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.casaStatus)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="casaEscritura">Escritura</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   id="casaEscritura"
                                   name="casaEscritura"
                                   ng-change="onChange()"
                                   ng-model="current.casa.escritura"
                                   placeholder="Escritura">
                            <div data-ng-messages="contratoForm.casaEscritura.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.casaEscritura)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="casaEstado">Estado</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   id="casaEstado"
                                   name="casaEstado"
                                   ng-change="onChange()"
                                   ng-model="current.casa.estado"
                                   placeholder="Estado">
                            <div data-ng-messages="contratoForm.casaEstado.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.casaEstado)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Empresa</h3>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label for="empresaCentro">Centro de trabajo</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   id="empresaCentro"
                                   name="empresaCentro"
                                   ng-change="onChange()"
                                   ng-model="current.empresa.centro"
                                   placeholder="Centro de trabajo">
                            <div data-ng-messages="contratoForm.empresaCentro.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.empresaCentro)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                        <div class="form-group">
                            <label for="empresaArea">Área</label>
                            <br/>
                            <textarea id="empresaArea"
                                      required
                                      name="empresaArea"
                                      ng-change="onChange()"
                                      cols="30"
                                      rows="5"
                                      ng-model="current.empresa.area"
                                      placeholder="Área"></textarea>
                            <div data-ng-messages="contratoForm.empresaArea.$error"
                                 class="error-messages"
                                 ng-if="interacted(contratoForm.empresaArea)"
                                 data-ng-messages-include="validaciones"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="_id" value="{{current._id}}"/>

        <!--definimos los mensajes de validacion-->
        <script type="text/ng-template" id="validaciones">
            <div class="error-message" ng-message="required"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Este campo es obligatorio</div>
            <div class="error-message" ng-message="minlength"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> El campo  no tiene los caracteres suficientes</div>
            <div class="error-message" ng-message="maxlength"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> El campo excede los caracteres requeridos</div>
        </script>


    </form>
</div>